**/.ipynb_checkpoints/

__pycache__/
*.py[cod]
*$py.class
*.so

venv/
*.zip

*.pth
*.bin
*.onnx
*.h5
*.pb
bert_mlm_model/
MLM_model/
custom_tokenizer/
ner_results/

chroma/
*.sqlite3

*.json
!package.json
!package-lock.json

*.html

.DS_Store
.vscode/
.idea/

*.tmp
*.log
*.swp
*.swo
*~